.profile-container {
    background-color: #F9FAFB;
    height: auto;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.profile-container .header {
    height: auto;
    min-height: 300px;
    border-bottom: 1px solid #9c9999;
    background-color: #2B3467;
}

.header {
    display: flex;
}

.header .section-1 {
    min-height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
}

.header .section-2 {
    min-height: 100%;
    width: 75%;
}

.section-1 .profile-image-box {
    height: 170px;
    width: 170px;
    border-radius: 50%;
    margin-top: 30px;
    margin-left: 30px;
    border: 3px solid #fff;
    padding: 2px;
    position: relative;
}

.profile-image {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}

.camera-icon {
    background-color: #fff;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    right: -4%;
    bottom: 16%;
    cursor: pointer;

    &:hover {
        background-color: #7c88ce;
    }
}

.bio {
    margin-top: 10px;
    line-height: 16px;
    margin-left: 30px;
    font-size: 13px;
    height: auto;
    width: 200px;
    color: #ddd;
    text-wrap: wrap;
    font-family: opensans-regular;
}

.connections {
    color: #00f5b8;
    font-size: 15px;
    margin-left: 30px;
    cursor: pointer;
}

.section-2 {
    display: flex;
    align-items: center;
}

.profile-details {
    height: 90%;
    width: 300px;
    margin-top: 30px;
    margin-left: 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.profile-details .detail {
    font-size: 17px;
    font-weight: 400;
}

.edit-btn {
    margin-top: 20px;
    width: 80%;
    background-color: #fff;

    color: #000;
    border: none;
    outline: none;
    height: 40px;
    border-radius: 40px;

    &:hover {
        background-color: #adb1e9;
    }
}

/* ----------------------------------------------------POST------------------------------------------- */
/* ----------------------------------------------------POST------------------------------------------- */
/* ----------------------------------------------------POST------------------------------------------- */

.post-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.post-section .sections {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    height: 30px;
    width: 120px;
    cursor: pointer;
    user-select: none;
}

.post-section .sections h3 {
    margin: 0;
    font-family: opensans-semibold;
    font-size: 17px;
}

.post-container {
    height: auto;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.three-dot {
    font-size: 25px;
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 50%;
    cursor: pointer;
    color: #fff;

    &:hover {
        background-color: #626574a1;
    }
}

.logout {
    position: absolute;
    right: 35px;
    top: 45px;
    background-color: #fff;
    font-size: 15px;
    padding: 5px 10px;
    box-shadow: 0 0 8px #000000b7;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
        background-color: #dfaa40;

    }
}

.upload-post {
    height: 50px;
    width: 50px;
    background-color: #2B3467;
    color: #fff;
    font-size: 30px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 40px;
    right: 40px;
    border-radius: 50%;
    cursor: pointer;

    &:active {
        transform: scale(0.98);
    }
}

.upload-options {
    position: fixed;
    bottom: 80px;
    right: 70px;
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    justify-content: center;
    padding: 10px;
}

.upload-options div {
    padding: 5px;
    border-radius: 12px;
    border-bottom-right-radius: 0;
    cursor: pointer;
    border: 1px solid gray;
    background-color: #2B3467;
    transition: 0.4s;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);

    &:hover {
        background-color: #ddd;
        color: #000;
    }
}