.forgot-box {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 40%;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 1px solid rgba(128, 128, 128, 0.075);
    border-radius: 5px;
    box-shadow: 0 0 25px rgba(128, 128, 128, 0.041);
}

.forgot-box input {
    width: 60%;
    font-size: 18px;
    padding-left: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid grey;
    padding: 5px;
}

.forgot-box button {
    font-size: 18px;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #2B3467;
    color: #fff;
}